name: Publish Release package

on:
  release:
    types: [published]

jobs:
  publish-release:
    uses: eclipse-keypop/keypop-actions/.github/workflows/reusable-publish-release.yml@main # NOSONAR - Same organization, trusted source
    secrets: inherit # NOSONAR - Same organization, trusted source
